
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/_css/estilo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Consulta</title>
</head>
<body>
    <div class="container">
         <table class="table">
                <tr>
                    <th>Identificacao</th>
                    <th>Nome</th>
                    <th>CPF</th>
                </tr>
                @foreach (var cliente in ViewBag.data)
                {
                    
                    <tbody>
                        <tr>
                            
                            <td>@cliente.Identificacao</td>
                            <td>@cliente.Nome</td>
                            <td>@cliente.CPF</td>
                        </tr>
                    </tbody>
                    
                }
         </table>
    <a class="btn btn-success m-auto d-block" href="~/Views/Cliente/Cadastro.cshtml">Home</a>
    </div>
</body>
</html>
